.course-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center-align items horizontally */
  gap: 20px; /* Gap between cards */
}
.course-list-heading {
  text-align: center;
  margin: 0 0 50px 0;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: aqua;
  padding: 20px;
}
.course-card {
  width: calc(
    20% - 20px
  ); /* Each card occupies 50% of the container width minus the gap */
  height: auto;
  background-color: #fff;
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.1); /* Add shadow effect */
  padding: 20px;
  border-radius: 8px;
  text-align: center; /* Center-align card content */
}

.course-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.course-description {
  font-size: 14px;
  color: #666;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
  .course-card {
    width: calc(
      100% - 20px
    ); /* Each card occupies 100% of the container width on smaller screens */
  }
}
