/* singlepost.css */

.singlepost-container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box; /* Include padding in width calculation */
}

.singlepost-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.singlepost-description {
  font-size: 16px;
  line-height: 1.6;
}

/* Media query for tablets and smaller screens */
@media (max-width: 800px) {
  .singlepost-container {
    width: 90%; /* Adjust width for smaller screens */
    padding: 15px;
  }

  .singlepost-title {
    font-size: 22px; /* Reduce title font size */
  }

  .singlepost-description {
    font-size: 14px; /* Reduce description font size */
  }
}

/* Media query for mobile devices */
@media (max-width: 600px) {
  .singlepost-container {
    width: 100%; /* Full width on smaller devices */
    padding: 10px;
  }

  .singlepost-title {
    font-size: 20px; /* Further reduce title font size */
  }

  .singlepost-description {
    font-size: 14px;
  }
}

/* Set max-width for code blocks */
.singlepost-container pre {
  max-width: 100%;
  overflow-x: auto; /* Enable horizontal scrolling */
}

/* Media query for mobile devices */
@media (max-width: 600px) {
  .singlepost-container pre {
    /* Adjust width and font size for smaller screens */
    font-size: 14px; /* Adjust font size as needed */
    padding: 10px;
    word-wrap: break-word; /* Allow long words to break into multiple lines */
  }
}

/* CSS for mobile responsiveness */

/* CSS for mobile responsiveness */

/* Ensure images are responsive */
.image {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Adjust image size and alignment on smaller screens */
@media (max-width: 600px) {
  .image {
    width: 80%; /* Adjust width for smaller screens */
  }
}
