.stats-stats {
  width: 100%;
  height: 229px;
  display: grid;
  padding: var(--dl-space-space-threeunits);
  grid-gap: var(--dl-space-space-twounits);
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.stats-stat {
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.stats-text {
  color: rgb(255, 124, 76);
  font-size: 3rem;
}
.stats-text01 {
  font-size: 1.15rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.stats-text02 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.stats-stat1 {
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.stats-text03 {
  color: rgb(255, 124, 76);
  font-size: 3rem;
}
.stats-text04 {
  font-size: 1.15rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.stats-text05 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.stats-stat2 {
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.stats-text06 {
  color: rgb(255, 124, 76);
  font-size: 3rem;
}
.stats-text09 {
  font-size: 1.15rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.stats-text10 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.stats-stat3 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.stats-text11 {
  color: #FF7C4C;
  font-size: 3rem;
}
.stats-text13 {
  font-size: 1.15rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.stats-text14 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
@media(max-width: 1600px) {
  .stats-stats {
    height: auto;
  }
}
@media(max-width: 991px) {
  .stats-stats {
    width: 806px;
  }
  .stats-text {
    text-align: center;
  }
  .stats-text03 {
    text-align: center;
  }
  .stats-text06 {
    text-align: center;
  }
  .stats-text11 {
    text-align: center;
  }
}
@media(max-width: 767px) {
  .stats-stats {
    width: 100%;
    height: auto;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    grid-template-columns: 1fr 1fr;
  }
  .stats-text01 {
    text-align: center;
  }
  .stats-text04 {
    text-align: center;
  }
  .stats-text09 {
    text-align: center;
  }
  .stats-text13 {
    text-align: center;
  }
}
@media(max-width: 479px) {
  .stats-stats {
    width: 100%;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
    grid-template-columns: 1fr;
  }
  .stats-text02 {
    color: var(--dl-color-gray-500);
    font-size: 0.75rem;
  }
  .stats-text05 {
    color: var(--dl-color-gray-500);
    font-size: 0.75rem;
  }
  .stats-text10 {
    color: var(--dl-color-gray-500);
  }
  .stats-text14 {
    color: var(--dl-color-gray-500);
    font-size: 0.75rem;
  }
}
