/* lesson.css */

.submodules-container {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.submodules-container h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.submodules-list {
  list-style: none;
  padding: 0;
}

.submodules-list li {
  margin-bottom: 15px;
}

.submodule-title {
  font-size: 24px;
  color: rgb(255, 0, 0);
  font-weight: bold;
}

.module-title {
  margin-bottom: 10px;
  font-size: 50px;
}

.submodule-description {
  font-size: 16px;
  color: #666;
}

@media (max-width: 768px) {
  .submodules-container {
    padding: 10px;
  }

  .module-title {
    font-size: 30px;
  }

  .submodule-title {
    font-size: 20px;
  }

  .submodule-description {
    font-size: 14px;
  }
}

.submodules-card {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

/* BlockQuote */
blockquote {
  padding: 1.5em 2em;
  margin: 1.5em 0;
  border-left: 5px solid #007acc;
  background-color: #f9f9f9;
  color: #333;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.1em;
  line-height: 1.6;
  position: relative;
  overflow: hidden;
}

blockquote::before {
  content: open-quote;
  font-size: 4em;
  color: #007acc;
  position: absolute;
  top: -10px;
  left: 10px;
}

blockquote::after {
  content: close-quote;
  font-size: 4em;
  color: #007acc;
  position: absolute;
  bottom: -10px;
  right: 10px;
}

blockquote p {
  margin: 0;
}

h3 {
  color: #007acc;
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

ul {
  margin-left: 20px;
}

ul li {
  margin-bottom: 0.5em;
}
